// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;

$value-color:       #fff;
$value-font-size:   120px;

$change-rate-font-size:   $value-font-size * 0.5;


$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);



// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
numberwidget {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    font-size: $value-font-size;
  }

  .change-rate {
    font-weight: 500;
    font-size: $change-rate-font-size;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
