<h1 class="title">{{title}}</h1>

<div class="badge-container">
    <span ng-repeat="item in items" class="label label-default label-as-badge">{{item.value}}</span>
</div>
<p class="updated-at">{{updatedAtMessage}}</p>
